.chakra-petch-regular {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Chakra Petch", serif;
}

label {
    font-family: "Chakra Petch", serif;
}

h1 {
    font-family: "Audiowide", serif;
}

h2 {
    font-family: "Audiowide", serif;
}

h3 {
    font-family: "Audiowide", serif;
}

li {
    font-family: "Chakra Petch", serif;
}



footer {
    background-color: #1a1a1a;
    padding-top: 0.1%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer h4 {
    padding: 0;
}

.texty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-carousel {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: 350px;
    perspective: 1000px;
    overflow: hidden;
}

.custom-carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.custom-carousel-item {
    flex: 0 0 auto;
    width: 240px;
    height: 320px;
    background: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform-origin: center;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.custom-carousel-item img {
    width: 240px;
    height: 320px;
    object-fit: cover;
}

.custom-carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.custom-carousel-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-carousel-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.novinky h2 {
    font-size: 2.5rem;
}

.novinky {
    background-color: #1a1a1a;
}

header {
    background-color: #1a1a1a;
}

nav {
    background-color: #1a1a1a;
}

.btn-secondary {
    width: 200px;
}

.karta img {
    height: 270px;
}

.gallery-item img {
    width: auto;
    height: 150px;
    object-fit: cover;
}

.gallery-item {
    margin-bottom: 15px;
}

#kosik_button {
    background-color: #1a1a1a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kosik_button2 {
    background-color: #1a1a1a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kosik_button a {
    text-decoration: none;
}

#kosik_button2 a {
    text-decoration: none;
}

.step-circle {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

.step-line {
    height: 4px;
}

#pocitadlo1,
#pocitadlo2,
#pocitadlo3 {
    width: 40px;
}

#kosik_pozadi {
    background-color: #1a1a1a;
    padding: 0 2% 0 2%;
}

#steamkolonka,
#emailkolonka,
#smskolonka,
#holubkolonka {
    background-color: #1a1a1a;
    padding: 2% 0 2% 0;
    height: 145px;
}

#googlepay,
#applepay,
#banprevod,
#paypal
 {
    background-color: #1a1a1a;
    padding: 2% 0 2% 2%;
    height: 145px;
}

.collapse.show {
    transition: all 0.5s ease-in-out;
  }

#bank-form{background-color: #1a1a1a;
        }
#udaje{background-color: #1a1a1a;
    }

#phasmashrnuti,
#csshrnuti,
#hdshrnuti,
#ph,
#app,
#sleva,
#udajepozadi {background-color: #1a1a1a;}


#podekovani{margin-top: 20%;
}