.custom-carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
}
.custom-carousel-item.active {
    transform: scale(1.2);
    opacity: 1;
}

footer {
    background-color: #080808;
    padding-top: 0.1%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer h4 {
    padding: 0;
}

.texty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
